In [1]:
import pandas as pd

### pd.Series

* Это одномерный массив типа nd.array, который может содержать данные любого типа (int, str, float, object и т.д.)
* В отличие от nd.array элементы объекта pd.Series могут иметь свои имена (как в словаре)
* Список имен элементов называется индексом (index)

In [2]:
# Массив который может содержать числовые индексы
series = pd.Series([1, 2, 3, 4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
# Именованные индексы
series = pd.Series([1, 2, 3, 4], index=["first", "second", "third", "fourth"], name="Test")
series

first     1
second    2
third     3
fourth    4
Name: Test, dtype: int64

In [4]:
# Можно создавать из словаря
series_from_dict = pd.Series({"a": 1, "b": 1, "c": 3})
series_from_dict

a    1
b    1
c    3
dtype: int64

### Атрибуты pd.Series

In [5]:
# index либо RangeIndex, либо Index (также есть свои атрибуты)
series.index

Index(['first', 'second', 'third', 'fourth'], dtype='object')

In [6]:
# Имя
series.name

'Test'

In [7]:
# Тип данных
series.dtype

dtype('int64')

In [8]:
# форма
series.shape

(4,)

In [9]:
# Количество элементов
series.size

4

In [10]:
# Значения
series.to_numpy()

array([1, 2, 3, 4])

### Присвоение значений атрибутам

In [11]:
series.name = "Тест имя"
series

first     1
second    2
third     3
fourth    4
Name: Тест имя, dtype: int64

In [12]:
series.index.name = "Имя для индекса"
series

Имя для индекса
first     1
second    2
third     3
fourth    4
Name: Тест имя, dtype: int64

### pd.DataFrame

* Это двухмерный массив типа nd.array, который может содержать данные любого типа (int, str, float, object и т.д.)
* Каждый столбец pd.DataFrame представляет собой отдельный объект pd.Series
* Размер объекта pd.DataFrame можно изменять

In [13]:
import numpy as np

In [14]:
dataframe = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))
dataframe

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
dataframe = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=["a", "b", "c"], index=["x", "y", "z"])
dataframe

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9